<div class="modal">
    <div class="modal__wrapper">
        <h2 class="modal__title">Upload the file</h2>
        <label class="modal__file-label" for="upload-photo">Choose file on your computer</label>
        <input class="modal__file-input" id="upload-photo" type="file"/>
        {{> button className="modal" type="Button" modify="primary" buttonText="Change"}}
        {{> button className="modal" type="Button" modify="close"}}
    </div>
</div>