@import 'src/styles/variables';
@import 'src/styles/mixins';

.chat-list {
  @include list-reset;
}

.chat-list__link {
  position: relative;
  display: grid;
  max-height: 70px;
  grid-template-areas:
          "avatar user-name msg-time"
          "avatar msg msg-time";
  gap: 10px;
  padding: 12px 10px;
  border-bottom: 1px solid $purple-main;
  cursor: pointer;
}

.chat-list__avatar-wrapper {
  grid-area: avatar;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.chat-list__avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.chat-list__user-name {
  @include text-small;
  font-weight: 700;
  grid-area: user-name;
}

.chat-list__message-time {
  grid-area: msg-time;
  font-size: 9px;
  line-height: 12px;
  color: $black-opacity-50;
}

.chat-list__message-text-wrapper {
  @include text-small;
  display: flex;
  grid-area: msg;
  width: 193px;
}

.chat-list__sender {
  margin-right: 5px;

  &--not-user {
    display: none;
  }
}

.chat-list__message-text {
  color: $black-opacity-50;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-list__message-count {
  @include text-small;
  color: $white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12px;
  right: 10px;
  padding: 0 5px;
  min-width: 20px;
  height: 20px;
  background-color: $purple-chat-dark;
  border-radius: 10px;
}
