//colors

$black: #212529;
$black-opacity-50: rgba($black, 0.5);
$white: #ffffff;
$purple-main: #d6daff;
$error-red: #ff2f2f;
$grey: #9e9e9e;
$purple-chat-lightest: #fafbff;
$purple-chat-light: #f0f2ff;
$purple-chat-dark: #b1b9ff;
$purple-chat-darkest: #8793ff;
