//colors

$black: #212529;
$black-opacity-50: rgba($black, 0.5);
$white: #FFFFFF;
$purple-main: #D6DAFF;
$error-red: #FF2F2F;
$grey: #9E9E9E;
$purple-chat-lightest: #FAFBFF;
$purple-chat-light: #F0F2FF;
$purple-chat-dark: #B1B9FF;
$purple-chat-darkest: #8793FF;