<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/style.scss">
    <title>Shi no ka messenger</title>
</head>
<body>
    <ul>
        <li>
            <a href="main.hbs">Main page</a>
        </li>
        <li>
            <a href="profile.hbs">Profile page</a>
        </li>
        <li>
            <a href="signup.hbs">Sign Up page</a>
        </li>
        <li>
            <a href="login.hbs">Login page</a>
        </li>
        <li>
            <a href="500.hbs">500 page</a>
        </li>
        <li>
            <a href="404.hbs">404 page</a>
        </li>
    </ul>
</body>
</html>