<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/style.scss">
    <title>Shi no ka messenger</title>
</head>
<body>
    <main class="page-main">
        <section class="page-signup signup">
            <form class="signup__form form">
                <h2 class="form__title title">Sign Up</h2>
                {{> inputBox className="form" id="signup-mail-input" name="signup-mail-input" type="text" labelText="Email" placeholder="Email" errorMessage="Invalid email"}}
                {{> inputBox className="form" id="signup-login-input" name="signup-login-input" type="text" labelText="Login" placeholder="Login"}}
                {{> inputBox className="form" id="signup-firstname-input" name="signup-firstname-input" type="text" labelText="First name" placeholder="First name"}}
                {{> inputBox className="form" id="signup-secondname-input" name="signup-secondname-input" type="text" labelText="Second name" placeholder="Second name"}}
                {{> inputBox className="form" id="signup-phonenumber-input" name="signup-phonenumber-input" type="text" labelText="Phone number" placeholder="Phone number"}}
                {{> inputBox className="form" id="signup-password-input" name="signup-password-input" type="password" labelText="Password" placeholder="Password"}}
                {{> inputBox className="form" id="signup-confirm-password-input" name="signup-confirm-password-input" type="password" labelText="Password" placeholder="Password"}}
                {{> button className="form" modify="medium" type="submit" buttonText="Log In"}}
                {{> link className="form" linkText="Already have an account?" }}
            </form>
        </section>
    </main>
</body>
</html>