<div class="modal">
    <div class="modal__wrapper">
        <h2 class="modal__title">Add user</h2>
        {{> inputBox className="modal" id="add-user" type="text" placeholder="Enter user nickname" errorMessage="User doesn't exist" labelText="Login"}}
        {{> button className="modal" type="button" modify="primary" buttonText="Add user"}}
        {{> button className="modal" type="button" modify="close"}}
    </div>
</div>